<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <p>{{user.first_name}} {{user.last_name}}, you are editing the profile</p>
    <form action="{% url 'update' id=user.id %}" method='post'>
        {% csrf_token %}
        First Name: <input type='text' name='first_name'>
        Last Name: <input type='text' name='last_name'>
        Email: <input type='text' name='email'>
        <input type='submit' name='Submit'>
    </form>
    <a href='/'>Go Back</a>
</body>

</html>